/* google font poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  font-family: "Poppins", sans-serif;
}
.top-banner {
  background-color: #264653;
}
.btn-purchase {
  background-color: #e76f51;
  color: white;
  border-radius: 8px;
  padding: 9px 25px;
  border: none;
}
.featured-bike img {
  width: 100%;
}
.make-gray {
  filter: grayscale(100%);
}
.fas {
  color: orange;
}
.far {
  color: orange;
}
.faq img {
  width: 100%;
}

/* ---------------------------------
css for pricing part ( bonus part 2)
-----------------------------------*/
.rounded-lg {
  border-radius: 1rem !important;
}

.text-small {
  font-size: 0.9rem !important;
}

.custom-separator {
  width: 5rem;
  height: 6px;
  border-radius: 1rem;
}

.text-uppercase {
  letter-spacing: 0.2em;
}
